@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

html,
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  transition: background 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.light {
  background: url('../assets/LightTheme.jpg') center center/cover no-repeat
    fixed;
  color: black;
}

.dark {
  background: url('../assets/DarkTheme.jpg') center center/cover no-repeat fixed;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1,
p {
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
  margin-top: -10px;
}
h1 {
  margin-top: -200px;
}
.light h1,
.light p {
  transform: scale(1);
  color: black;
}

.dark h1,
.dark p {
  transform: scale(1.05);
  color: white;
}

.auth-box {
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  margin-top: 20px;
}

.dark .auth-box {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}
